<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="10">
      <ion-chip class="profile-content">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
        </ion-avatar>
        <ion-label class="name-profile">hola: {{ isConnected }}</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="2" class="network">
      <ion-button id="btnLogar" fill="clear" shape="round">
        <!-- ICONO SE MODIFICA DE ACUERDO SI LA VARIABLE DE CONEXION ES TRU O FALSE-->
        <ion-icon size="large" id="btnNetwork" [hidden]="isConnected" name="warning-outline"></ion-icon>
        <ion-icon size="large" id="btnNetwork" name="wifi-outline" [hidden]="!isConnected" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
